DISCORD_API_KEY=<apikey>
DISCORD_SERVER_ID=<serverid>
DISCORD_FORUM_CHANNEL_ID=<forumid>
DISCORD_LOCK_THREAD=14
TOKEN_DECIMAL=1e10
SYMBOL=DOT
DISCORD_VOTER_ROLE=<discord-role/leave blank for anyone to vote>
DISCORD_ADMIN_ROLE=<discord-role name for admin> # This role can lock/unlock threads
NETWORK=polkadot
SUBSTRATE_WSS=wss://rpc.polkadot.io
# Unused by default
#DB_NAME=<database name>
#DB_USER=<database user>
#DB_PASSWORD=<database password>
#DB_HOST=127.0.0.1
#DB_PORT=5432